[class^="icon-"], [class*=" icon-"] {
	&:before {
		font-family             : 'ivave_icons';
		speak                   : none;
		font-style              : normal;
		font-weight             : normal;
		font-variant            : normal;
		text-transform          : none;
		line-height             : 1;
		
		/* Better Font Rendering =========== */
		-webkit-font-smoothing  : antialiased;
		-moz-osx-font-smoothing : grayscale;
	}
}

.icon-magic:before {
	content : "\e650";
}

.icon-no_avatar:before {
	content : "\e64f";
}

.icon-filter:before {
	content : "\e64e";
}

.icon-user:before {
	content : "\e64a";
}

.icon-download_cloud:before {
	content : "\e649";
}

.icon-soc_tw_2:before {
	content : "\e645";
}

.icon-speach_cloud:before {
	content : "\e648";
}

.icon-soc_gl_2:before {
	content : "\e646";
}

.icon-soc_fb_2:before {
	content : "\e647";
}

.icon-question_tip:before {
	content : "\e640";
}

.icon-heart_wave:before {
	content : "\e641";
}

.icon-diploma:before {
	content : "\e642";
}

.icon-star_empty:before {
	content : "\e643";
}

.icon-plane:before {
	content : "\e644";
}

.icon-close_remove:before {
	content : "\e638";
}

.icon-soc_vk:before {
	content : "\e639";
}

.icon-pause:before {
	content : "\e63a";
}

.icon-soc_tw:before {
	content : "\e63b";
}

.icon-soc_fb:before {
	content : "\e63c";
}

.icon-playlist:before {
	content : "\e63d";
}

.icon-check_download:before {
	content : "\e63e";
}

.icon-database_checked:before {
	content : "\e63f";
}

.icon-padlock:before {
	content : "\e636";
}

.icon-delete:before {
	content : "\e637";
}

.icon-avantgarde:before {
	content : "\e625";
}

.icon-blues:before {
	content : "\e626";
}

.icon-clasic:before {
	content : "\e627";
}

.icon-country:before {
	content : "\e628";
}

.icon-easy:before {
	content : "\e629";
}

.icon-electric:before {
	content : "\e62a";
}

.icon-folk:before {
	content : "\e62b";
}

.icon-international:before {
	content : "\e62c";
}

.icon-jazz:before {
	content : "\e62d";
}

.icon-latin:before {
	content : "\e62e";
}

.icon-newage:before {
	content : "\e62f";
}

.icon-peace:before {
	content : "\e630";
}

.icon-rap:before {
	content : "\e631";
}

.icon-rnb:before {
	content : "\e632";
}

.icon-rock:before {
	content : "\e633";
}

.icon-stage:before {
	content : "\e634";
}

.icon-vocal:before {
	content : "\e635";
}

.icon-player_next:before {
	content : "\e61c";
}

.icon-player_prev:before {
	content : "\e61d";
}

.icon-humberger:before {
	content : "\e61e";
}

.icon-corner_left:before {
	content : "\e61f";
}

.icon-soc_gl:before {
	content : "\e620";
}

.icon-database_add:before {
	content : "\e621";
}

.icon-heart_filled:before {
	content : "\e622";
}

.icon-player_play:before {
	content : "\e623";
}

.icon-check:before {
	content : "\e624";
}

.icon-radio:before {
	content : "\e600";
}

.icon-joystick:before {
	content : "\e601";
}

.icon-sync_database:before {
	content : "\e602";
}

.icon-network_web:before {
	content : "\e603";
}

.icon-favorite_database:before {
	content : "\e604";
}

.icon-tag_label:before {
	content : "\e605";
}

.icon-account:before {
	content : "\e606";
}

.icon-arrow_left:before {
	content : "\e607";
}

.icon-arrow_right:before {
	content : "\e608";
}

.icon-shuriken_fix:before {
	content : "\e609";
}

.icon-bookmark:before {
	content : "\e60a";
}

.icon-pencil:before {
	content : "\e60b";
}

.icon-comment_cloud:before {
	content : "\e60c";
}

.icon-content_copy:before {
	content : "\e60d";
}

.icon-download:before {
	content : "\e60e";
}

.icon-heart:before {
	content : "\e60f";
}

.icon-lock:before {
	content : "\e610";
}

.icon-login:before {
	content : "\e611";
}

.icon-search_magnify:before {
	content : "\e612";
}

.icon-menu_down:before {
	content : "\e613";
}

.icon-replay:before {
	content : "\e614";
}

.icon-reply_all:before {
	content : "\e615";
}

.icon-star:before {
	content : "\e616";
}

.icon-trophy_award:before {
	content : "\e617";
}

.icon-volume_high:before {
	content : "\e618";
}

.icon-volume_low:before {
	content : "\e619";
}

.icon-volume_medium:before {
	content : "\e61a";
}

.icon-volume_off:before {
	content : "\e61b";
}

%icon-magic,
%icon-no_avatar,
%icon-filter,
%icon-user,
%icon-download_cloud,
%icon-soc_tw_2,
%icon-speach_cloud,
%icon-soc_gl_2,
%icon-soc_fb_2,
%icon-question_tip,
%icon-heart_wave,
%icon-diploma,
%icon-star_empty,
%icon-plane,
%icon-speach_cloud,
%icon-close_remove,
%icon-soc_vk,
%icon-pause,
%icon-soc_tw,
%icon-soc_fb,
%icon-playlist,
%icon-check_download,
%icon-database_checked,
%icon-padlock,
%icon-delete,
%icon-avantgarde,
%icon-blues,
%icon-clasic,
%icon-country,
%icon-easy,
%icon-electric,
%icon-folk,
%icon-international,
%icon-jazz,
%icon-latin,
%icon-newage,
%icon-peace,
%icon-rap,
%icon-rnb,
%icon-rock,
%icon-stage,
%icon-vocal,
%icon-player_next,
%icon-player_prev,
%icon-humberger,
%icon-corner_left,
%icon-soc_gl,
%icon-database_add,
%icon-heart_filled,
%icon-player_play,
%icon-check,
%icon-radio,
%icon-joystick,
%icon-sync_database,
%icon-network_web,
%icon-favorite_database,
%icon-tag_label,
%icon-account,
%icon-arrow_left,
%icon-arrow_right,
%icon-shuriken_fix,
%icon-bookmark,
%icon-pencil,
%icon-comment_cloud,
%icon-content_copy,
%icon-download,
%icon-heart,
%icon-lock,
%icon-login,
%icon-search_magnify,
%icon-menu_down,
%icon-replay,
%icon-reply_all,
%icon-star,
%icon-trophy_award,
%icon-volume_high,
%icon-volume_low,
%icon-volume_medium,
%icon-volume_off {
	&:before {
		font-family             : 'ivave_icons';
		speak                   : none;
		font-style              : normal;
		font-weight             : normal;
		font-variant            : normal;
		text-transform          : none;
		line-height             : 1;
		
		/* Better Font Rendering =========== */
		-webkit-font-smoothing  : antialiased;
		-moz-osx-font-smoothing : grayscale;
	}
}

%icon-magic:before {
	content : "\e650";
}

%icon-no_avatar:before {
	content : "\e64f";
}

%icon-filter:before {
	content : "\e64e";
}

%icon-user:before {
	content : "\e64a";
}

%icon-download_cloud:before {
	content : "\e649";
}

%icon-soc_tw_2:before {
	content : "\e645";
}

%icon-speach_cloud:before {
	content : "\e648";
}

%icon-soc_gl_2:before {
	content : "\e646";
}

%icon-soc_fb_2:before {
	content : "\e647";
}

%icon-question_tip:before {
	content : "\e640";
}

%icon-heart_wave:before {
	content : "\e641";
}

%icon-diploma:before {
	content : "\e642";
}

%icon-star_empty:before {
	content : "\e643";
}

%icon-plane:before {
	content : "\e644";
}

%icon-close_remove:before {
	content : "\e638";
}

%icon-soc_vk:before {
	content : "\e639";
}

%icon-pause:before {
	content : "\e63a";
}

%icon-soc_tw:before {
	content : "\e63b";
}

%icon-soc_fb:before {
	content : "\e63c";
}

%icon-playlist:before {
	content : "\e63d";
}

%icon-check_download:before {
	content : "\e63e";
}

%icon-database_checked:before {
	content : "\e63f";
}

%icon-padlock:before {
	content : "\e636";
}

%icon-delete:before {
	content : "\e637";
}

%icon-avantgarde:before {
	content : "\e625";
}

%icon-blues:before {
	content : "\e626";
}

%icon-clasic:before {
	content : "\e627";
}

%icon-country:before {
	content : "\e628";
}

%icon-easy:before {
	content : "\e629";
}

%icon-electric:before {
	content : "\e62a";
}

%icon-folk:before {
	content : "\e62b";
}

%icon-international:before {
	content : "\e62c";
}

%icon-jazz:before {
	content : "\e62d";
}

%icon-latin:before {
	content : "\e62e";
}

%icon-newage:before {
	content : "\e62f";
}

%icon-peace:before {
	content : "\e630";
}

%icon-rap:before {
	content : "\e631";
}

%icon-rnb:before {
	content : "\e632";
}

%icon-rock:before {
	content : "\e633";
}

%icon-stage:before {
	content : "\e634";
}

%icon-vocal:before {
	content : "\e635";
}

%icon-player_next:before {
	content : "\e61c";
}

%icon-player_prev:before {
	content : "\e61d";
}

%icon-humberger:before {
	content : "\e61e";
}

%icon-corner_left:before {
	content : "\e61f";
}

%icon-soc_gl:before {
	content : "\e620";
}

%icon-database_add:before {
	content : "\e621";
}

%icon-heart_filled:before {
	content : "\e622";
}

%icon-player_play:before {
	content : "\e623";
}

%icon-check:before {
	content : "\e624";
}

%icon-radio:before {
	content : "\e600";
}

%icon-joystick:before {
	content : "\e601";
}

%icon-sync_database:before {
	content : "\e602";
}

%icon-network_web:before {
	content : "\e603";
}

%icon-favorite_database:before {
	content : "\e604";
}

%icon-tag_label:before {
	content : "\e605";
}

%icon-account:before {
	content : "\e606";
}

%icon-arrow_left:before {
	content : "\e607";
}

%icon-arrow_right:before {
	content : "\e608";
}

%icon-shuriken_fix:before {
	content : "\e609";
}

%icon-bookmark:before {
	content : "\e60a";
}

%icon-pencil:before {
	content : "\e60b";
}

%icon-comment_cloud:before {
	content : "\e60c";
}

%icon-content_copy:before {
	content : "\e60d";
}

%icon-download:before {
	content : "\e60e";
}

%icon-heart:before {
	content : "\e60f";
}

%icon-lock:before {
	content : "\e610";
}

%icon-login:before {
	content : "\e611";
}

%icon-search_magnify:before {
	content : "\e612";
}

%icon-menu_down:before {
	content : "\e613";
}

%icon-replay:before {
	content : "\e614";
}

%icon-reply_all:before {
	content : "\e615";
}

%icon-star:before {
	content : "\e616";
}

%icon-trophy_award:before {
	content : "\e617";
}

%icon-volume_high:before {
	content : "\e618";
}

%icon-volume_low:before {
	content : "\e619";
}

%icon-volume_medium:before {
	content : "\e61a";
}

%icon-volume_off:before {
	content : "\e61b";
}
