include mixins
include mixins_3
doctype html
html.mob_menu_close.mob_aside_close.mobile_.tablet_(lang='ru')
	+dev_head('ivave compilations ', false, false, false, false, false, false, false, true)

	body
		+bottom_player()
		.wrapper
			+page_header('Compilations', false, true, true)
			.base
				.global_left_track.globalLeftTrack
				.global_right_track.globalRightTrack
				//.filter_holder: .filterListScroller
					ul#charts_list.filter_list.blue_mod.fw_600.text_upper.noSwipe
						li.filter_item: a.filter_link(href='#chart_tab_1'): span.middle_block Albums
						li.filter_item: a.filter_link(href='#chart_tab_2'): span.middle_block Songs
				.filter_sort.chosen_v3.no_search
					- var n = 0
					select.chosen-select(data-scrollbar="true")
						while n < 3
							-n++;
							option Sort by Popularity #{n}
				.main_content
					.content_block.compilation_mod
						ul.search_result_list
							+loop_while(9)
								li.search_result_item: .result_item_inner.text_center
									a.related_album_cover(href='#')
										img(src='i/aside_album_1.jpg')
										.related_price.fw_600 $ 1.20
									.search_result_info
										p.one_line_mod: a.default_link(href='#') A State Of Trance A State Of Trance
										p.color_gray.one_line_mod Armin Van Buuren
										p.color_gray 2015

				+page_footer()
			+popups()
			+dev_btns()
			+dev_pages()