- artist = false;
include mixins
doctype html
html.mob_menu_close.mob_aside_close.mobile_.tablet_(lang='ru')
	+dev_head('ivave главная login', true, false, false, false, false, false, true)

	body.menu_open_
		+bottom_player()
		div.wrapper
			+page_header(false, false, false, false, false, false, false, false, true)
			.base
				.global_left_track.globalLeftTrack
				.global_right_track.globalRightTrack
				.filter_holder
					a.filter_toggle_btn.filterToggleBtn.icon-filter(href='#')
					.filterListScroller
						ul#news_list.filter_list.blue_mod.fw_600.text_upper.noSwipe
							li.filter_item: a.filter_link(href='#news_tab_1'): span.middle_block My news 
							li.filter_item: a.filter_link(href='#news_tab_2'): span.middle_block All news
				div.main_content
					.content_block.compilation_mod
						.tabBlock(data-tab-context='#news_list')
							#news_tab_1
								.album_info_block
									.album_caption_holder
										.fl: .middle_block New album of 
											a.default_link(href='#')  Jamie Culum
										.fr: .middle_block
											.color_gray 1h ago
									.album_details
										.fr.playlist_btn_gray
											.middle_block: .album_price $1.30
											.middle_block: a.icon-download.playlist_btn.blue_icon_btn(href='#')
											.middle_block: a.playlist_btn.icon-heart_filled(href='#')
										.fl
											.middle_block: .album_img: img(src='i/related_album.jpg')
											.middle_block.album_information
												p The Pursuite
												p.color_gray.fz_12 Jamie Cullum
												p.color_gray.fz_12 2015, 256 Mb, FLAC
												p.color_gray.fz_12 April, 24
								.showMoreHolder: div.album_wrapper
									div.album_table
										+loop_while(1)
											.album_row
												//td.col_1 1
												.fl.col_2: .middle_block
													label.check_emul.check_emul_v2
														input.hidden_check.toPlayListCheck(type='checkbox')
														span.check_text
												.fl.col_3.player_btn_gray: .middle_block
													a.player_btn.icon-player_play(href='#')
												.fl.col_4: .middle_block.track_name
													p Virgin Mary (Intro)
														span.fav_track.icon-heart_filled
													-if (artist)
														a.default_link(href='#') Mr Mister
												.fr.col_5
													.middle_block.track_info
														.track_info_toggle.trackInfoToggle ...
														span.track_format_info 2014, 256 Mb, FLAC
													.middle_block.playlist_btn_gray.track_controls
														-if (artist)
															a.icon-user.playlist_btn(href='#')
														a.icon-database_add.playlist_btn.plBtn(href='#')
														a.icon-download.playlist_btn(href='#')
														a.playlist_btn.icon-heart_filled(href='#')
											.album_row
												//td.col_1 10
												.fl.col_2: .middle_block
													label.check_emul.check_emul_v2
														input.hidden_check.toPlayListCheck(type='checkbox')
														span.check_text
												.fl.col_3.player_btn_gray: .middle_block
													a.player_btn.icon-player_play(href='#')
												.fl.col_4: .middle_block.track_name
													p Virgin Mary (Intro)
													-if (artist)
														a.default_link(href='#') Mr Mister
												.fr.col_5
													.middle_block.track_info
														.track_info_toggle.trackInfoToggle ...
														span.track_format_info 2014, 256 Mb, FLAC
													.middle_block.playlist_btn_gray.track_controls
														-if (artist)
															a.icon-user.playlist_btn(href='#')
														a.icon-database_add.playlist_btn.plBtn(href='#')
														a.icon-download.playlist_btn(href='#')
														a.playlist_btn.icon-heart_filled.active(href='#')
											.album_row
												//td.col_1 13
												.fl.col_2: .middle_block
													label.check_emul.check_emul_v2
														input.hidden_check.toPlayListCheck(type='checkbox')
														span.check_text
												.fl.col_3.player_btn_gray: .middle_block
													a.player_btn.icon-player_play(href='#')
												.fl.col_4: .middle_block.track_name
													p Virgin Mary (Intro)
													-if (artist)
														a.default_link(href='#') Mr Mister
												.fr.col_5
													.middle_block.track_info
														.track_info_toggle.trackInfoToggle ...
														span.track_format_info 2014, 256 Mb, FLAC
													.middle_block.playlist_btn_gray.track_controls
														-if (artist)
															a.icon-user.playlist_btn(href='#')
														a.icon-database_add.playlist_btn.plBtn(href='#')
														a.icon-download.playlist_btn(href='#')
														a.playlist_btn.icon-heart_filled(href='#')
										+loop_while(2)
											.album_row.showMoreBlock
												//td.col_1 1
												.fl.col_2: .middle_block
													label.check_emul.check_emul_v2
														input.hidden_check.toPlayListCheck(type='checkbox')
														span.check_text
												.fl.col_3.player_btn_gray: .middle_block
													a.player_btn.icon-player_play(href='#')
												.fl.col_4: .middle_block.track_name
													p Virgin Mary (Intro)
														span.fav_track.icon-heart_filled
													-if (artist)
														a.default_link(href='#') Mr Mister
												.fr.col_5
													.middle_block.track_info
														.track_info_toggle.trackInfoToggle ...
														span.track_format_info 2014, 256 Mb, FLAC
													.middle_block.playlist_btn_gray.track_controls
														-if (artist)
															a.icon-user.playlist_btn(href='#')
														a.icon-database_add.playlist_btn.plBtn(href='#')
														a.icon-download.playlist_btn(href='#')
														a.playlist_btn.icon-heart_filled(href='#')
											.album_row.showMoreBlock
												//td.col_1 10
												.fl.col_2: .middle_block
													label.check_emul.check_emul_v2
														input.hidden_check.toPlayListCheck(type='checkbox')
														span.check_text
												.fl.col_3.player_btn_gray: .middle_block
													a.player_btn.icon-player_play(href='#')
												.fl.col_4: .middle_block.track_name
													p Virgin Mary (Intro)
													-if (artist)
														a.default_link(href='#') Mr Mister
												.fr.col_5
													.middle_block.track_info
														.track_info_toggle.trackInfoToggle ...
														span.track_format_info 2014, 256 Mb, FLAC
													.middle_block.playlist_btn_gray.track_controls
														-if (artist)
															a.icon-user.playlist_btn(href='#')
														a.icon-database_add.playlist_btn.plBtn(href='#')
														a.icon-download.playlist_btn(href='#')
														a.playlist_btn.icon-heart_filled.active(href='#')
											.album_row.showMoreBlock
												//td.col_1 13
												.fl.col_2: .middle_block
													label.check_emul.check_emul_v2
														input.hidden_check.toPlayListCheck(type='checkbox')
														span.check_text
												.fl.col_3.player_btn_gray: .middle_block
													a.player_btn.icon-player_play(href='#')
												.fl.col_4: .middle_block.track_name
													p Virgin Mary (Intro)
													-if (artist)
														a.default_link(href='#') Mr Mister
												.fr.col_5
													.middle_block.track_info
														.track_info_toggle.trackInfoToggle ...
														span.track_format_info 2014, 256 Mb, FLAC
													.middle_block.playlist_btn_gray.track_controls
														-if (artist)
															a.icon-user.playlist_btn(href='#')
														a.icon-database_add.playlist_btn.plBtn(href='#')
														a.icon-download.playlist_btn(href='#')
														a.playlist_btn.icon-heart_filled(href='#')
									
									.album_list_controls.showMoreBlock.clearfix
										.fl: .middle_block: .download_block
											a.download_price.icon-download(href='#') Selected $0.40
										.fr: .middle_block
											span.download_size.fz_16 32.67 Mb

									.album_info_controls.showMoreHide: .middle_block
										a.default_link.showMoreBtn.fz_16(href='#') Show more
										
								.album_info_block.mod_alone
									.album_caption_holder
										.fl: .middle_block New track of 
											a.default_link(href='#')  Henry Jackman 
										.fr: .middle_block
											.color_gray yesterday
									.album_details
										.fr.playlist_btn_gray
											.middle_block: a.icon-download.playlist_btn.blue_icon_btn(href='#')
											.middle_block: a.playlist_btn.icon-heart_filled(href='#')
										.fl
											.middle_block.player_btn_gray
												a.player_btn.icon-player_play(href='#')
											.middle_block.album_information
												p The Pursuite
												p.color_gray.fz_12 Jamie Cullum
												p.color_gray.fz_12 2015, 256 Mb, FLAC
												p.color_gray.fz_12 April, 24

								.album_info_block.mod_alone
									.album_caption_holder
										.fl: .middle_block 3 tracks from 
											a.default_link(href='#')  Modern Jazz
										.fr: .middle_block
											.color_gray yesterday
									+loop_while(3)
										.album_details
											.fr.playlist_btn_gray
												//.middle_block: .album_price $1.30
												.middle_block: a.icon-download.playlist_btn.blue_icon_btn(href='#')
												.middle_block: a.playlist_btn.icon-heart_filled(href='#')
											.fl
												.middle_block.player_btn_gray
													a.player_btn.icon-player_play(href='#')
												.middle_block.album_information
													p The Pursuite
													p.color_gray.fz_12 Jamie Cullum
															p.color_gray.fz_12 2015, 256 Mb, FLAC
															p.color_gray.fz_12 April, 24
								.album_info_block.mod_alone
									.album_caption_holder
										.fl: .middle_block 3 albums from 
											a.default_link(href='#')  Modern Jazz
										.fr: .middle_block
											.color_gray yesterday
									+loop_while(3)
										.album_details
											.fr.playlist_btn_gray
												.middle_block: .album_price $1.30
												.middle_block: a.icon-download.playlist_btn.blue_icon_btn(href='#')
												.middle_block: a.playlist_btn.icon-heart_filled(href='#')
											.fl
												.middle_block: .album_img: img(src='i/related_album.jpg')
												.middle_block.album_information
													p The Pursuite
													p.color_gray.fz_12 Jamie Cullum
													p.color_gray.fz_12 2015, 256 Mb, FLAC
													p.color_gray.fz_12 April, 24

								.adds_block
									.abs_holder: .table
										.table_cell
											.adds_title Skyfall in FLAC
											.adds_description: .abs_holder
												.table: .table_cell New album of Adele available in FLAC. 
											a.adds_btn.btn_v7(href='#'): span.fz_15.middle_block Listen Now
									.adds_img: img(src='i/adds_1.jpg')

								.album_info_block.mod_alone
									.album_caption_holder
										.fl New in 
											span.album_caption_img: img(src='i/flag_usa.png')
											a.default_link(href='#')  Australia Top 50 Albums
										.fr: .middle_block
											.color_gray 23.04.2015
									+loop_while(3)
										.album_details
											.fr.playlist_btn_gray
												//.middle_block: .album_price $1.30
												.middle_block: a.icon-download.playlist_btn.blue_icon_btn(href='#')
												.middle_block: a.playlist_btn.icon-heart_filled(href='#')
											.fl
												.middle_block.player_btn_gray
													a.player_btn.icon-player_play(href='#')
												.middle_block.album_information
													p The Pursuite
													p.color_gray.fz_12 Jamie Cullum
															p.color_gray.fz_12 2015, 256 Mb, FLAC
															p.color_gray.fz_12 April, 24
													
							#news_tab_2
								div.album_wrapper
									+album_table()
					
					
				+page_footer()
			+popups()
			+dev_btns()
			+dev_pages()