include mixins
	include mixins_2
doctype html
html.mob_menu_close.mob_aside_close.mobile_.tablet_(lang='ru')
	+dev_head('ivave search result', false, true)
		body
	+bottom_player()
	.wrapper
		+page_header('Search', false, false, false, true)
		.base
			.global_left_track.globalLeftTrack
			.global_right_track.globalRightTrack
			.filter_holder: .filterListScroller
				ul#favorite_list.filter_list.blue_mod.fw_600.text_upper.noSwipe
					li.filter_item: a.filter_link(href='#fav_tab_1'): span.middle_block Albums 
					li.filter_item: a.filter_link(href='#fav_tab_2'): span.middle_block Artists
					li.filter_item: a.filter_link(href='#fav_tab_3'): span.middle_block Tracks 
					li.filter_item: a.filter_link(href='#fav_tab_4'): span.middle_block Genres
					li.filter_item: a.filter_link(href='#fav_tab_5'): span.middle_block Tags
			div.main_content
				.content_block.compilation_mod
					.tabBlock(data-tab-context='#favorite_list')
						#fav_tab_1
							ul.search_result_list
								+loop_while(8)
									li.search_result_item: .result_item_inner.text_center
										a.related_album_cover(href='#')
											img(src='i/aside_album_1.jpg')
											.related_price.fw_600 $ 1.20
										.search_result_info.icon-heart_filled
											p.one_line_mod: a.default_link(href='#') A State Of Trance A State Of Trance
											p.color_gray.one_line_mod Armin Van Buuren
											p.color_gray 2015
						#fav_tab_2
							ul.search_result_list
								+loop_while(4)
									li.search_result_item: .result_item_inner.text_center.icon-heart_filled
										a.fav_artist_cover(href='#')
											img(src='i/artist_1.png')
										.search_result_info.fz_12
											p.one_line_mod: a.default_link(href='#') Frank Sinatra
											p.color_gray.one_line_mod 225 Albums
									li.search_result_item: .result_item_inner.text_center.icon-heart_filled
										a.fav_artist_cover(href='#')
											img(src='i/no_avatar.png')
										.search_result_info.fz_12
											p.one_line_mod: a.default_link(href='#') Frank Sinatra
											p.color_gray.one_line_mod 225 Albums
						#fav_tab_3
							div.album_wrapper
								+album_table()
						#fav_tab_4
							div.album_wrapper
								+album_table()
						#fav_tab_5
							div.album_wrapper
								+album_table()
									+page_footer()
	+popups()
	+dev_btns()
	+dev_pages()